.bg{
    width: 100%;
    height: 100%;
    position: relative;
}

.bg::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:url('https://sv1.img.in.th/IeCUB.jpg');
    z-index: -1;
    background-size: cover;
    background-position: center;
    filter: brightness(60%);
}

.buttons{
    position: absolute;
    bottom: 10px;
    right: 30px;
    padding: 10px 0;
}

footer p i{
    color: blue;
    font-size: 1.5rem;
    padding: 10px 0;
}